.navbar {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
}

.sidebar {
  min-height: 100vh;
}
.nav-link {
  cursor: pointer;
}

.nav-link .active {
  background-color: #495057;
  border-radius: 4px;
}
