<div class="card" *ngIf="IsDefaultView">
  <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #4c5d78;">

    <span class="fw-bold text-white">
      Farmers Details
    </span>

    <div class="d-flex align-items-center gap-2">

      <input type="text" class="form-control form-control-sm" style="width: 220px;" placeholder="Search farmers..."
        (input)="onSearch($event)" />

      <button type="button" class="btn btn-sm btn-primary" (click)="OpenForm()">
        <i class="bi bi-plus-lg me-1"></i>
        Add
      </button>

    </div>
  </div>

  <ag-grid-angular class="ag-theme-quartz" style="width: 100%; height: 550px;" [rowData]="clientsData"
    [columnDefs]="displayedColumns" [rowHeight]="49"
    [defaultColDef]="{ sortable: true, filter: true, resizable: true }">
  </ag-grid-angular>
  <div class="d-flex justify-content-between align-items-center mt-3 px-3">

    <!-- Records information -->
    <div class="text-muted small">
      Showing {{ currentStart }} - {{ currentEnd }} of {{ totalCount }}
    </div>

    <!-- Pagination -->
    <nav>
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item" [class.disabled]="filterdata.pageNumber === 1">

          <button type="button" class="page-link" (click)="previousPage()" [disabled]="filterdata.pageNumber === 1">
            Previous
          </button>
        </li>


        <li class="page-item active">
          <span class="page-link">
            {{ filterdata.pageNumber }}
          </span>
        </li>

        <li class="page-item" [class.disabled]="filterdata.pageNumber === totalPages()">

          <button type="button" class="page-link" (click)="nextPage()"
            [disabled]="filterdata.pageNumber === totalPages()">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="card" *ngIf="!IsDefaultView">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="fw-bold">{{HeaderText}}</span>
    <button type="button" class="btn btn-sm btn-primary" (click)="toggleIsDefaultView()">X</button>
  </div>
  <div class="card-body">


    <form [formGroup]="clientForm">

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstname" />
            <!-- <small class="text-danger" *ngIf="clientForm.firstname.touched && clientForm.firstname.invalid">
              First Name is required
            </small> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastname" />
            <!-- <small class="text-danger" *ngIf="clientForm.lastname.touched && clientForm.lastname.invalid">
              Last Name is required
            </small> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <!-- <small class="text-danger" *ngIf="form.email.touched && form.email.invalid">
              Valid Email is required
            </small> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Farmer Code</label>
            <input type="text" class="form-control" (input)="convertToUpperCase($event)" formControlName="clientCode" />
            <!-- <small class="text-danger" *ngIf="form.clientCode.touched && form.clientCode.invalid">
              Farmer Code must be a number
            </small> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Category</label>
            <input type="text" class="form-control" formControlName="category" />
            <!-- <small class="text-danger" *ngIf="form.category.touched && form.category.invalid">
              Category is required
            </small> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Farmer Type</label>
            <input type="text" class="form-control" formControlName="clientType" />
            <!-- <small class="text-danger" *ngIf="clientForm.clientType.touched && clientForm.clientType.invalid">
              Farmer Type is required
            </small> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Mobile</label>
            <input type="tel" class="form-control" formControlName="mobile" />
            <!-- <small class="text-danger" *ngIf="form.mobile.touched && form.mobile.invalid">
              Mobile number is required
            </small> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="mb-3">
            <label>Alternate Mobile</label>
            <input type="tel" class="form-control" formControlName="alternateMobile" />
            <!-- <small class="text-danger" *ngIf="form.alternateMobile.touched && form.alternateMobile.invalid">
              Alternate Mobile number is required
            </small> -->
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="mb-3">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address" />
                <!-- <small class="text-danger" *ngIf="form.address.touched && form.address.invalid">
                Address is required
                </small> -->
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-check mb-2">
            <input class="form-check-input selected" type="checkbox" formControlName="isActive" />
            <label class="form-check-label">Is Active</label>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" formControlName="isDeleted" />
            <label class="form-check-label">Is Deleted</label>
          </div>
        </div>
      </div>

      <div class="" *ngIf="ButtonText == 'Insert'">
        <button class="btn btn-primary" (click)="Insert()">{{ButtonText}}</button>
      </div>

      <div class="" *ngIf="ButtonText == 'Update'">
        <button class="btn btn-primary" (click)="Update()">{{ButtonText}}</button>
      </div>
    </form>
  </div>
</div>