<div class="card" *ngIf="DefaultView">
  <div class="card-header d-flex justify-content-between align-items-center m-1">
    <span>Users Details</span>
    <button class="btn btn-sm btn-primary" (click)="openForm('Add User', '')">Add</button>
  </div>

  <div class="card-body">
    <div class="row m-1 border border-solid">
      <table mat-table [dataSource]="usersData" class="mat-elevation-z8">

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openForm('Edit User', row.recordId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="Delete(row.recordId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>Firstname</th>
          <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>lastname</th>
          <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let row">{{ row.role }}</td>
        </ng-container>

        <ng-container matColumnDef="createddate">
          <th mat-header-cell *matHeaderCellDef>createddate</th>
          <td mat-cell *matCellDef="let row">{{ row.createddate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<div class="card" *ngIf="!DefaultView">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="fw-bold">{{HeaderText}}</span>
    <button type="button" class="btn btn-sm btn-primary" (click)="toggleView()">X</button>
  </div>
  <div class="card-body">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" placeholder="First Name" formControlName="firstName">
            <label>First Name</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" placeholder="Last Name" formControlName="lastName">
            <label>Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" placeholder="Phone" formControlName="phone">
            <label for="phone">Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <select class="form-control" formControlName="roleId">
              <option value="0" disabled selected>Select User Role</option>
              <option *ngFor="let role of userRoles" [value]="role.dataValue">
                {{ role.dataText}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="Email"formControlName="roleId">
        <label>Email</label>
      </div>

      <div class="form-floating mb-3" *ngIf="userModel.email && userModel.email.trim() !== ''">
        <button class="btn btn-primary btn-sm">Verify Email</button>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password" formControlName="password" minlength="6">
        <label>Password</label>
      </div>

      <button class="btn btn-success w-100 py-2" (click)="InsertData()">         
        Create Account
      </button>
      <!-- [disabled]="userForm.invalid" -->
    </form>
  </div>

</div>