.auth-card {
  max-width: 900px;
  width: 100%;
  border-radius: 20px;
}

.auth-left {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.logo {
  width: 80px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}
